@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(53, 65, 196);
}
#header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 50px;
    color: white;
}
#speaker {
    height: 55px;
    width: 55px;
    vertical-align: middle;
}
.container {
    width: fit-content;
    margin: 20% auto;
    text-align: center;
    user-select: none;
}
.white-keys kbd {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: white;
    display: inline-block;
    width: 70px;
    height: 250px;
    border: solid gray 5px;
    margin-left: -5px;
    line-height: 400px;
}

.black-keys kbd {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    display: inline-block;
    width: 50px;
    height: 170px;
    line-height: 220px;
    position: relative;
    top: -260px;
}

#w {
    left: -156px;
}

#e {
    left: -131px;
}

#t {
    left: -28px;
}

#y {
    left: -3px;
}

#u {
    left: 21px;
}

#o {
    left: 126px;
}

#p {
    left: 152px;
}